body {
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.board-container td {
    width: 25px;
    height:25px;
    text-align: center;
    font-size:1em;
}

img {
    height: 30px;
    width: 30px;
    margin-bottom: 20px;
}

button {
    height: 40px;
}

.selected {
    outline: 5px solid blue;
}

.gray {
    background-color: grey;
}

.shown {
    background-color:lightgray;
}
